<!-- <div class="user-profile">
    <h2>Teacher Profile</h2> 
   
    <form [formGroup] = "form">
    
      <label>First Name:</label>
      <input type="email" class="form-control" aria-describedby="emailHelp" formControlName="studentName">
      <label>Middle Name:</label>
      <input type="email" class="form-control" aria-describedby="emailHelp" formControlName="studentMname">
      <label> Last Name: </label>
      <input type="email" class="form-control" aria-describedby="emailHelp" formControlName="studentLname">
      <label>Gender: </label>
      <input type="email" class="form-control" aria-describedby="emailHelp" formControlName="gender">
      <label>Address:</label>
      <input type="email" class="form-control" aria-describedby="emailHelp" formControlName="address">
      <label>Phone Number:</label>
      <input type="email" class="form-control" aria-describedby="emailHelp" formControlName="phone">
      <Label>Email:</Label>
      <input type="email" class="form-control" aria-describedby="emailHelp" formControlName="email">
    </form>


  </div>
 -->

 <div class="container">
  <div class="row">
      <div class="col-lg-12 mb-4 mb-sm-5">
          <div class="card card-style1 border-0">
              <div class="card-body p-1-9 p-sm-2-3 p-md-6 p-lg-7">
                  <div class="row align-items-center">
                      <div class="col-lg-6 mb-4 mb-lg-0 border align-items-center">
                          <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="...">
                      </div>
                      <div class="col-lg-6 px-xl-10">
                          <div class=" d-lg-inline-block py-1-9 px-1-9 px-sm-6 mb-1-9 rounded">
                              <h3 class="h2 text-black mb-0 mt-2 fw-bold">{{teacherInfo.lname}}, {{teacherInfo.fname}}</h3>
                              <span class="text-primary">Teacher</span>
                          </div>
                          <form [formGroup] = "form" class="pr-3 pb-3">
    
                            <label>First Name:</label>
                            <input type="email" class="form-control" aria-describedby="emailHelp" formControlName="studentName" readonly>
                            <label>Middle Name:</label>
                            <input type="email" class="form-control" aria-describedby="emailHelp" formControlName="studentMname" readonly>
                            <label> Last Name: </label>
                            <input type="email" class="form-control" aria-describedby="emailHelp" formControlName="studentLname" readonly>
                            <label>Gender: </label>
                            <input type="email" class="form-control" aria-describedby="emailHelp" formControlName="gender"readonly>
                            <label>Address:</label>
                            <input type="email" class="form-control" aria-describedby="emailHelp" formControlName="address" readonly>
                            <label>Phone Number:</label>
                            <input type="email" class="form-control" aria-describedby="emailHelp" formControlName="phone" readonly>
                            <Label>Email:</Label>
                            <input type="email" class="form-control" aria-describedby="emailHelp" formControlName="email" readonly>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>