<!-- <div class="user-profile">
  <h2>Admin Profile</h2> 
 
  <form [formGroup] = "form">
  
    <label>First Name:</label>
    <input type="email" class="form-control" aria-describedby="emailHelp" formControlName="studentName">
    <label>Middle Name:</label>
    <input type="email" class="form-control" aria-describedby="emailHelp" formControlName="studentMname">
    <label> Last Name: </label>
    <input type="email" class="form-control" aria-describedby="emailHelp" formControlName="studentLname">
    <label>Gender: </label>
    <input type="email" class="form-control" aria-describedby="emailHelp" formControlName="gender">
    <label>Address:</label>
    <input type="email" class="form-control" aria-describedby="emailHelp" formControlName="address">
    <label>Phone Number:</label>
    <input type="email" class="form-control" aria-describedby="emailHelp" formControlName="phone">
    <Label>Email:</Label>
    <input type="email" class="form-control" aria-describedby="emailHelp" formControlName="email">
  </form>


</div> -->