<section class="main-content">
    <div class="container">
        <h1 class="about-contact-small">LOGIN</h1>
        <div class="row">
          
    
          <div class="col-md-6 d-flex flex-column mt-5">
            <h1 class="contact-h2 mt-5">LOGIN</h1>
            
              <div class="email">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email Address">
              </div>
              <div class="password mt-3">
                <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Password">
              </div>
            
              <div class="input-group mt-3 w-100">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">Options</label>
                </div>
                <select class="custom-select" id="inputGroupSelect01">
                  <option selected>Choose...</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>

            <button type="button" class="btn btn-submit">Submit</button>
    
          </div>
    
    
          <div class="col-md-6 d-flex flex-column align-items-center align-items-md-start">
            <div class="blob-bg-contact">
              <svg xmlns="http://www.w3.org/2000/svg" width="675" height="761" viewBox="0 0 675 761" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M454.561 -31.4894C343.578 -11.0939 309.093 136.941 230.587 224.82C154.19 310.337 29.7427 351.998 7.56903 468.868C-17.4692 600.838 20.0303 752.311 113.847 840.119C204.126 924.616 336.204 900.808 454.561 887.231C556.655 875.52 654.567 844.83 730.372 769.399C810.06 690.104 867.879 586.201 874.996 468.868C882.585 343.754 847.119 218.28 769.411 125.8C688.361 29.3428 572.913 -53.2388 454.561 -31.4894Z" fill="#A70000" fill-opacity="0.71"/>
              </svg>
            </div>
            <img src="../assets/images/contactsvg.png" alt="" class="person-image-contact">
            <p class="about-contact">CONTACT US</p>
            <div class="contact-line"></div>
          </div>
        </div>
      </div>
</section>
