<div class="links d-flex">
    <a class="classes" [routerLink]="['/teacher/analytics/analysis-reports']">Classes </a>
    <p class="next">></p>
    <a class="active"><b>{{ gradeLevelName}} - {{ sectionName }} - {{subjectName}}</b></a>
</div>
<select class="form-select shadow-none select-opt mb-2" [(ngModel)]="selectedQuarter" name="quarter" (ngModelChange)="onQuarterChange()">
    <option *ngFor="let quarter of quarters" [value]="quarter.quarter_id">{{quarter.quarter_name}}</option>
</select>
<div class="containerr d-flex">
    <div class="report-table w-100 mr-2 ">
        <table class="mb-2">
            <tr>
                <th>ITEM NO.</th>
                <th>No.of Correct Responses</th>
                <th>Percentage of Correct Responses</th>
            </tr>
            <tbody>
                <tr *ngFor="let item of generateItemNumbers(); let i = index">
                    <td><b>{{item}}</b></td>
                    <td>            
                        <input
                        type="text"
                        class="form-control bg-transparent border-0 text-center"
                        [(ngModel)] = "correctResponses[i]"
                        (click)="handleInputClick(i + 1)"
                        name="correctPercentage"/>
                    </td>
                    <td class="background"> 
                        <div class="progress">
                          <div [ngClass]="{'progress-bar bg-success bg-none text-light': calculateMean(correctResponses[i], totalStudents) >= 75, 'progress-bar bg-danger': calculateMean(correctResponses[i], totalStudents) < 75}" role="progressbar" [style.width.%]="calculatePercentage(correctResponses[i])">
                            {{ calculatePercentage(correctResponses[i]) }}%
                          </div>
                        </div>
                      </td>
                      
                </tr>
                <button class="btn btn-primary" (click)="saveItemAnalysisData()">Save Data</button>

            </tbody>
        </table>

    </div>
    <div class="analytics w-25">
        <canvas id="donutChart"></canvas>
    </div>
</div>