<div class="links d-flex">
    <a class="classes" [routerLink]="['/teacher/analytics/analysis-reports']">Classes </a>
    <p class="next">></p>
    <a class="active"><b>{{ gradeLevelName}} - {{ sectionName }} - {{subjectName}}</b></a>
</div>
<select class="form-select shadow-none select-opt mb-2" [(ngModel)]="selectedQuarter" name="quarter" (ngModelChange)="onQuarterChange()">
    <option *ngFor="let quarter of quarters" [value]="quarter.quarter_id">{{quarter.quarter_name}}</option>
</select>
<div class="containerr d-flex">
    <div class="report-table mr-2 w-100">
        <table class="mb-2">
            <tr>
                <th style="width: 20% !important;">ITEM NO.</th>
                <th style="width: 20% !important;">No.of Correct Responses</th>
                <th style="width: 60% !important;">Percentage of Correct Responses</th>
            </tr>
            <tbody>
                <tr *ngFor="let item of generateItemNumbers(); let i = index">
                    <td style="width: 10% !important;"><b>{{item}}</b></td>
                    <td style="width: 10% !important;">            
                        <input
                        type="text"
                        class="form-control bg-transparent border-0 text-center"
                        [(ngModel)] = "correctResponses[i]"
                        (click)="handleInputClick(i + 1)"
                        (input)="updateDonutChart(); calculateTotalMean()"
                        name="correctPercentage"/>
                    </td>
                    <td class="background" style="width: 60% !important;"> 
                        <div class="progress text-light">
                          <div [ngClass]="{'progress-bar bg-custom bg-none text-light': calculateMean(correctResponses[i], totalStudents) >= 75, 'progress-bar bg-danger': calculateMean(correctResponses[i], totalStudents) <= 49, 'progress-bar bg-mid text-light': calculateMean(correctResponses[i], totalStudents) <= 74 }" role="progressbar" [style.width.%]="calculatePercentage(correctResponses[i])">
                            {{ calculatePercentage(correctResponses[i]) }}%
                          </div>
                        </div>
                      </td>
 
                      
                </tr>
            </tbody>
        </table>
        <button class="btn btn-primary" (click)="saveItemAnalysisData()">Save Data</button>

    </div>
    <div class="analytics">
        <canvas #donutChartCanvas id="donutChart"></canvas>
        <div class="summary m-3 p-2">
            <p><b>Total Students:</b> {{totalStudents}}</p>
            <p><b>Highest Possible Score:</b> {{formData.hps_qa_total_score}}</p>
            <p><b>Mean:</b> {{meanValue}} </p>
            <p><b>Mean Percentage Score(MPS):</b> {{ calculateMeanPercentage() }}%</p>
        </div>
    </div>
</div>