<div class="links d-flex">
    <a class="classes" [routerLink]="['/teacher/weeklyprog']">Classes </a>
    <p class="next">></p>
    <a class="active">{{ gradeLevelName}} - {{ sectionName }} - {{subjectName}}</a>
</div>
<div>
  <label for="dateRangeSelect">Select Date Range:</label>
  <select id="dateRangeSelect" [(ngModel)]="selectedMonth" (change)="filterByMonth()">
    <option value="This Week">This Week</option>
    <option value="January">January</option>
    <option value="February">February</option>
    <option value="March">March</option>
    <option value="April">April</option>
    <option value="May">May</option>
    <option value="June">June</option>
    <option value="July">July</option>
    <option value="August">August</option>
    <option value="September">September</option>
    <option value="October">October</option>
    <option value="November">November</option>
    <option value="December">December</option>
  </select>
</div>
<button class="btn btn-warning align-items-center shadow-none mb-2" type="button" (click)="toggleSortOrder()">
  <svg *ngIf="isSortingAZ" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-alpha-up" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M10.082 5.629 9.664 7H8.598l1.789-5.332h1.234L13.402 7h-1.12l-.419-1.371h-1.781zm1.57-.785L11 2.687h-.047l-.652 2.157h1.351z"/>
    <path d="M12.96 14H9.028v-.691l2.579-3.72v-.054H9.098v-.867h3.785v.691l-2.567 3.72v.054h2.645V14zm-8.46-.5a.5.5 0 0 1-1 0V3.707L2.354 4.854a.5.5 0 1 1-.708-.708l2-1.999.007-.007a.498.498 0 0 1 .7.006l2 2a.5.5 0 1 1-.707.708L4.5 3.707V13.5z"/>
  </svg>
  <svg *ngIf="!isSortingAZ" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-alpha-down" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M10.082 5.629 9.664 7H8.598l1.789-5.332h1.234L13.402 7h-1.12l-.419-1.371h-1.781zm1.57-.785L11 2.687h-.047l-.652 2.157h1.351z"/>
    <path d="M12.96 14H9.028v-.691l2.579-3.72v-.054H9.098v-.867h3.785v.691l-2.567 3.72v.054h2.645V14zM4.5 2.5a.5.5 0 0 0-1 0v9.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L4.5 12.293V2.5z"/>
  </svg>
  Sort
</button>
<select class="form-select shadow-none select-opt mb-2" [(ngModel)]="selectedQuarter" name="quarter" (ngModelChange)="onQuarterChange()">
  <option *ngFor="let quarter of quarters" [value]="quarter.quarter_id">{{quarter.quarter_name}}</option>
</select>
<ng-container *ngIf="students.length > 0; else noDataFound">

  <div class="classes-container" *ngFor="let student of students">
      <div class="data-container" >
          <div class="secion-subject">
              <h4 (click)="toggleStudentExpansion(student.id)">{{student.lname}}, {{student.fname}}</h4>
          </div>
          <div class="angle-icon" (click)="toggleStudentExpansion(student.id)">
              <svg *ngIf="!studentExpansionMap[student.id]; else notExpanded" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
              </svg>
              <ng-template #notExpanded>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                </svg>
              </ng-template>
          </div>
      </div>
      <div class="student-details" *ngIf="studentExpansionMap[student.id]">
        <div class="task-row d-flex mb-2" *ngFor="let task of studentTasks[student.id]; let i = index">
          <input class="form-control mr-2" type="text" [(ngModel)]="task.task_name" placeholder="Task Name">
          <input class="form-control mr-2" type="text" [(ngModel)]="task.task_score" placeholder="Task Score" >
          <select class="form-select mr-2" [(ngModel)]="task.task_status">
            <option value ="" selected disabled>Status</option>
            <option value="Completed">Completed</option>
            <option value="Missing">Missing</option>
            <option value="Failed">Failed</option>
          </select>
          <button type="button" class="btn btn-danger" (click)="removeTask(student.id, i)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
          </svg>
        </button>
        </div>        
        <button class="btn btn-primary mt-2 mr-2" (click)="addTask(student.id)">Add Task</button>
        <button class="btn btn-success mt-2 " (click)="saveTask(student.id)">Save Task</button>
      </div>
  </div>
</ng-container>
<ng-template #noDataFound>
    <p>No Data Found</p>
</ng-template>