*{
    font-family: 'Poppins', sans-serif;
}

a{
    color: #000;
    margin-right: 3px;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.next{
    margin-right: 3px;
}

.links .active{
    text-decoration: underline;
}
.classes-container{
    margin-top: 10px;
    background-color: #f0f3f5;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;

}
.data-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sort-button:hover{
    text-decoration: underline;
}
.learners-names{
    font-weight: 700;
}