<div class="links d-flex">
    <a [routerLink]="['/teacher/grades']">Classes </a>
    <p class="next">></p>
    <a class="active">{{gradeLevelName}} - {{ sectionName }}</a>

</div>

<table>
    <thead>
      <tr>
        <th>No.</th>
        <th>Student Name</th>
        <th colspan="13">Written Works</th>
        <th colspan="13">Performance Tasks</th>
        <th colspan="3">Quarterly Assessment</th>
        <th rowspan="3">Initial Grade</th>
        <th rowspan="3">Quarterly Grade</th>
        <!-- <th rowspan="3">REMARKS</th> -->
      </tr>
      <tr>
        <td></td>
            <td></td>
            <td><b>1</b></td>
            <td><b>2</b></td>
            <td><b>3</b></td>
            <td><b>4</b></td>
            <td><b>5</b></td>
            <td><b>6</b></td>
            <td><b>7</b></td>
            <td><b>8</b></td>
            <td><b>9</b></td>
            <td><b>10</b></td>
            <td><b>Total</b></td>
            <td><b>PS</b></td>
            <td><b>WS</b></td>

            <td><b>1</b></td>
            <td><b>2</b></td>
            <td><b>3</b></td>
            <td><b>4</b></td>
            <td><b>5</b></td>
            <td><b>6</b></td>
            <td><b>7</b></td>
            <td><b>8</b></td>
            <td><b>9</b></td>
            <td><b>10</b></td>
            <td><b>Total</b></td>
            <td><b>PS</b></td>
            <td><b>WS</b></td>

            <td><b>1</b></td>
            <td><b>PS</b></td>
            <td><b>WS</b></td>
      </tr>
      <tr>
            <td></td>
            <td class="hps"><b>HIGHEST POSSIBLE SCORE</b></td>

            <td><input type="text" [(ngModel)]="writtenWorkHPS[0]" (input)="updateTotalWrittenWorkHPS()" (input)="calculateWeightedScores()"/></td>
            <td><input type="text" [(ngModel)]="writtenWorkHPS[1]" (input)="updateTotalWrittenWorkHPS()" (input)="calculateWeightedScores()"/></td>
            <td><input type="text" [(ngModel)]="writtenWorkHPS[2]" (input)="updateTotalWrittenWorkHPS()" (input)="calculateWeightedScores()"/></td>
            <td><input type="text" [(ngModel)]="writtenWorkHPS[3]" (input)="updateTotalWrittenWorkHPS()" (input)="calculateWeightedScores()"/></td>
            <td><input type="text" [(ngModel)]="writtenWorkHPS[4]" (input)="updateTotalWrittenWorkHPS()" (input)="calculateWeightedScores()"/></td>
            <td><input type="text" [(ngModel)]="writtenWorkHPS[5]" (input)="updateTotalWrittenWorkHPS()" (input)="calculateWeightedScores()"/></td>
            <td><input type="text" [(ngModel)]="writtenWorkHPS[6]" (input)="updateTotalWrittenWorkHPS()" (input)="calculateWeightedScores()"/></td>
            <td><input type="text" [(ngModel)]="writtenWorkHPS[7]" (input)="updateTotalWrittenWorkHPS()" (input)="calculateWeightedScores()"/></td>
            <td><input type="text" [(ngModel)]="writtenWorkHPS[8]" (input)="updateTotalWrittenWorkHPS()" (input)="calculateWeightedScores()"/></td>
            <td><input type="text" [(ngModel)]="writtenWorkHPS[9]" (input)="updateTotalWrittenWorkHPS()" (input)="calculateWeightedScores()"/></td>

            <td class="WWtotalHPS"><b>{{ totalWrittenWorkHPS || '' }}</b></td>
            <td><b>100</b></td>
            <td>
              <input
                type="text"
                [(ngModel)]="ww_ws_percentage"
                (input)="calculateWeightedScores()"
                style="font-weight: bold;"
              />
            </td>
            <td><input type="text" [(ngModel)]="performanceTaskHPS[0]" (input)="updateTotalPerformanceTaskHPS()" /></td>
            <td><input type="text" [(ngModel)]="performanceTaskHPS[1]" (input)="updateTotalPerformanceTaskHPS()" /></td>
            <td><input type="text" [(ngModel)]="performanceTaskHPS[2]" (input)="updateTotalPerformanceTaskHPS()"/></td>
            <td><input type="text" [(ngModel)]="performanceTaskHPS[3]" (input)="updateTotalPerformanceTaskHPS()"/></td>
            <td><input type="text" [(ngModel)]="performanceTaskHPS[4]" (input)="updateTotalPerformanceTaskHPS()"/></td>
            <td><input type="text" [(ngModel)]="performanceTaskHPS[5]" (input)="updateTotalPerformanceTaskHPS()"/></td>
            <td><input type="text" [(ngModel)]="performanceTaskHPS[6]" (input)="updateTotalPerformanceTaskHPS()"/></td>
            <td><input type="text" [(ngModel)]="performanceTaskHPS[7]" (input)="updateTotalPerformanceTaskHPS()"/></td>
            <td><input type="text" [(ngModel)]="performanceTaskHPS[8]" (input)="updateTotalPerformanceTaskHPS()"/></td>
            <td><input type="text" [(ngModel)]="performanceTaskHPS[9]" (input)="updateTotalPerformanceTaskHPS()"/></td>
            <td><b>{{totalPerformanceTaskHPS || ''}}</b></td>
            <td><b>100</b></td>
            <td>
              <input
                type="text"
                [(ngModel)]="pt_ws_percentage"
                (input)="calculatePTWeightedScores()"
                style="font-weight: bold;"
              />
            </td>

            <td><input type="text" [(ngModel)]="quarterlyAssessmentHPS" (input)="calculateQAWeightedScores()" /></td>
            <td><b>100</b></td>
            <td>
              <input
                type="text"
                [(ngModel)]="qa_ws_percentage"
                (input)="calculateQAWeightedScores()"
                style="font-weight: bold;"
              />
            </td>
      </tr>
      
    </thead>
    <tbody>
      <tr *ngFor="let student of students; let i = index">
        <td>{{ i + 1}}</td>
        <td class="student-name" >{{student.lname}}, {{student.fname}}</td>
        <!-- WRITTEN WORK -->
        <td><input type="text" [(ngModel)]="ww_scores[0][student.id]" (input)="updateWrittenWorkRS(student.id, 0)" (input)="calculateWeightedScores()"/></td>
        <td><input type="text" [(ngModel)]="ww_scores[1][student.id]" (input)="updateWrittenWorkRS(student.id, 0)" (input)="calculateWeightedScores()"/></td>
        <td><input type="text" [(ngModel)]="ww_scores[2][student.id]" (input)="updateWrittenWorkRS(student.id, 0)" (input)="calculateWeightedScores()"/></td>
        <td><input type="text" [(ngModel)]="ww_scores[3][student.id]" (input)="updateWrittenWorkRS(student.id, 0)" (input)="calculateWeightedScores()"/></td>
        <td><input type="text" [(ngModel)]="ww_scores[4][student.id]" (input)="updateWrittenWorkRS(student.id, 0)" (input)="calculateWeightedScores()"/></td>
        <td><input type="text" [(ngModel)]="ww_scores[5][student.id]" (input)="updateWrittenWorkRS(student.id, 0)" (input)="calculateWeightedScores()"/></td>
        <td><input type="text" [(ngModel)]="ww_scores[6][student.id]" (input)="updateWrittenWorkRS(student.id, 0)" (input)="calculateWeightedScores()"/></td>
        <td><input type="text" [(ngModel)]="ww_scores[7][student.id]" (input)="updateWrittenWorkRS(student.id, 0)" (input)="calculateWeightedScores()"/></td>
        <td><input type="text" [(ngModel)]="ww_scores[8][student.id]" (input)="updateWrittenWorkRS(student.id, 0)" (input)="calculateWeightedScores()"/></td>
        <td><input type="text" [(ngModel)]="ww_scores[9][student.id]" (input)="updateWrittenWorkRS(student.id, 0)" (input)="calculateWeightedScores()"/></td>
        <td><input type="text" [value]="student.totalWrittenWorkRS || ''" readonly (click)="showStudentId(student.id)" /></td>
        <td>
          <input
            *ngIf="calculateWWPercentageScore(student.id) !== 0"
            type="text"
            [value]="calculateWWPercentageScore(student.id)?.toString()"
            readonly
            (click)="showStudentId(student.id)"
            style="font-weight: bold;"

          />
          <span *ngIf="calculateWWPercentageScore(student.id) === 0"></span>
        </td>        
        <td>
          <input
            type="text"
            [value]="student.totalWrittenWorkWS?.toString() || ''"
            readonly
            (click)="showStudentId(student.id)"
            style="font-weight: bold;"
          />
        </td>

        <!-- PERFORMANCE TASK -->
        <td><input type="text" [(ngModel)]="pt_scores[0][student.id]" (input)="updatePerfTaskRS(student.id, 0)" (input)="calculatePTWeightedScores()"/></td>
        <td><input type="text" [(ngModel)]="pt_scores[1][student.id]" (input)="updatePerfTaskRS(student.id, 0)" (input)="calculatePTWeightedScores()"/></td>
        <td><input type="text" [(ngModel)]="pt_scores[2][student.id]" (input)="updatePerfTaskRS(student.id, 0)" (input)="calculatePTWeightedScores()"/></td>
        <td><input type="text" [(ngModel)]="pt_scores[3][student.id]" (input)="updatePerfTaskRS(student.id, 0)" (input)="calculatePTWeightedScores()"/></td>
        <td><input type="text" [(ngModel)]="pt_scores[4][student.id]" (input)="updatePerfTaskRS(student.id, 0)" (input)="calculatePTWeightedScores()"/></td>
        <td><input type="text" [(ngModel)]="pt_scores[5][student.id]" (input)="updatePerfTaskRS(student.id, 0)" (input)="calculatePTWeightedScores()"/></td>
        <td><input type="text" [(ngModel)]="pt_scores[6][student.id]" (input)="updatePerfTaskRS(student.id, 0)" (input)="calculatePTWeightedScores()"/></td>
        <td><input type="text" [(ngModel)]="pt_scores[7][student.id]" (input)="updatePerfTaskRS(student.id, 0)" (input)="calculatePTWeightedScores()"/></td>
        <td><input type="text" [(ngModel)]="pt_scores[8][student.id]" (input)="updatePerfTaskRS(student.id, 0)" (input)="calculatePTWeightedScores()"/></td>
        <td><input type="text" [(ngModel)]="pt_scores[9][student.id]" (input)="updatePerfTaskRS(student.id, 0)" (input)="calculatePTWeightedScores()"/></td>

        <td><input type="text" [value]="student.totalPerfTaskRS || ''" readonly (click)="showStudentId(student.id)" /></td>
        <td>
          <input
            *ngIf="calculatePTPercentageScore(student.id) !== 0"
            type="text"
            [value]="calculatePTPercentageScore(student.id)?.toString()"
            readonly
            (click)="showStudentId(student.id)"
            style="font-weight: bold;"

          />
          <span *ngIf="calculateWWPercentageScore(student.id) === 0"></span>
        </td>        
        <td>
          <input
            type="text"
            [value]="student.totalPerfTaskWS?.toString() || ''"
            readonly
            (click)="showStudentId(student.id)"
            style="font-weight: bold;"
          />
        </td>
        
        <!-- QUARTERLY ASSESSMENT -->
        <td><input type="text" [(ngModel)]="qa_scores[student.id]" (input)="updateQARawScore(student.id)" /></td>
        <td>
          <input
            *ngIf="calculateQAPercentageScore(student.id) !== 0"
            type="text"
            [value]="calculateQAPercentageScore(student.id)?.toString()"
            readonly
            (click)="showStudentId(student.id)"
            style="font-weight: bold;"

          />
          <span *ngIf="calculateWWPercentageScore(student.id) === 0"></span>
        </td> 
        <td><input type="text" [value]="student.totalQuarterlyAssessmentWS?.toString() || ''" readonly (click)="showStudentId(student.id)" style="font-weight: bold;" /></td>


        <td><input class="inigrade" type="text" /></td>
        <td ><input type="text" /></td>
      </tr>
    </tbody>
  </table>