*{
    font-family: 'Poppins', sans-serif;
}

a{
    color: #000;
    margin-right: 3px;
    text-decoration: none;
}
.form-control:focus {
    box-shadow:none;
 }
a:hover{
    text-decoration: underline;
}
.next{
    margin-right: 3px;
}

.links .active{
    text-decoration: underline;
}
.subject-card {
    background-color: #ffffff;
    border: 0;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    display: inline-block;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.subject-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
  }
.circle-progress-container {
    text-align: center;
}

/* .containerr{
    background-color: white;
    padding: 25px;
    border-radius: 10px;
} */