@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;700;800&display=swap');

.sidenav{
    background: #fff;
    transition: all .5s ease;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 5rem;
    height: 100vh;
    box-shadow: 0.063rem 0 1.25rem 0 #f0eded;
}

.logo-container{
    display: flex;
    align-items: center;
    padding: 1rem 1rem 1rem 1.3rem;
    width: 100%;
}

.logo{
    padding: 0.30rem;
    cursor: pointer;
}

.logo-text{
    margin-left: 1.5rem;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;

}

.btnclose{
    margin-left: auto;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: transparent;
    border: none;
}

.sidenav-collapsed{
    width: 17rem;
}
.sidenav-nav{
    list-style: none;
    padding: 1rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 3.65rem);
    cursor: pointer;
}

.sidenav-nav-item{
    width: 100%;
    margin-bottom: 1rem;
}
.sidenav-nav-link{
    display: flex;
    align-items: center;
    height: 3rem;
    color: black;
    text-decoration: none;
    transition: all .3s ease;
    border-radius: 1rem;

}

.sidenav-link-icon{
    font-size: 22px;
    width: 2rem;
    min-width: 2rem;
    margin: 0 0.5rem;
    text-align: center;
}

.sidenav-link-text{
    margin-left: 1.5rem;
    font-family: 'Poppins', sans-serif;

}

.sidenav-nav-item:hover, .sidenav-nav-link:hover{
    background-color: #A70000;
    color: white;
    border-radius: 1rem;

}

.active {
    background-color: #A70000;
  }
  
  .active .sidenav-link-icon,
  .active .sidenav-link-text {
    color: white;
  }