<div class="links d-flex flex-column">
    <h1 class="header-text">Analytics</h1>
    <h5>{{gradeLevelName}} - {{sectionName}}</h5>

</div>
<select class="form-select shadow-none select-opt mb-2" [(ngModel)]="selectedQuarter" name="quarter" (ngModelChange)="onQuarterChange()">
    <option *ngFor="let quarter of quarters" [value]="quarter.quarter_id">{{quarter.quarter_name}}</option>
</select>

<div class="honors d-flex flex-row mt-3">
    <div class="average-barchart">
        <canvas id="barChart" width="500" height="400"></canvas>
    </div>

</div>

