<div class="containerr">
    <div class="links d-flex">
        <a class="classes" [routerLink]="['/teacher/analytics/student-analytics']">Classes </a>
        <p class="next">></p>
        <a class="classes">{{studentlname}}, {{ studentfname }}</a>
        <p class="next">></p>
        <a class="active" [routerLink]="['/teacher/analytics/quarterly-performance', studentId]"><b>Quarterly Performance</b> </a>
    </div>
    
    <div class="line-chart-container w-50">
        <canvas id="lineChart"></canvas>
    </div>    

</div>